force-app/main/default/flows/Actualiza_campos_Peso_y_Volumen_Opty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>QuieresredondearlaCantidadTrue</name>
        <label>Quieres redondear la Cantidad True?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuieresredondearlaCantidadTrue_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuieresRedondearCantidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProductId</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculaBultos</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity} / {!$Record.Product2.ERUM_Unidad_embalaje__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calculaPesoBruto</name>
        <dataType>Number</dataType>
        <expression>{!$Record.PricebookEntry.Product2.ERUM_Peso_bruto__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculaPesoNeto</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Product2.ERUM_Peso_neto__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculaVolumen</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity} / {!$Record.Product2.ERUM_Unidad_embalaje__c} * {!$Record.Product2.ERUM_Volumen_embalaje__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RoundUp</name>
        <dataType>Number</dataType>
        <expression>IF(MOD({!$Record.Quantity},{!Get_ProductId.ERUM_Unidad_embalaje__c}) / {!Get_ProductId.ERUM_Unidad_embalaje__c} &gt;= 0.5, ROUND(({!$Record.Quantity} / {!Get_ProductId.ERUM_Unidad_embalaje__c}),0) * {!Get_ProductId.ERUM_Unidad_embalaje__c} , (ROUND(({!$Record.Quantity} / {!Get_ProductId.ERUM_Unidad_embalaje__c}),0) +1 ) * {!Get_ProductId.ERUM_Unidad_embalaje__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Unidadmedidaventa</name>
        <dataType>String</dataType>
        <expression>TEXT ({!$Record.Product2.QuantityUnitOfMeasure})</expression>
    </formulas>
    <interviewLabel>Actualiza campos Peso y Volumen (Opty) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Afert - Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ProductId</name>
        <label>Get ProductId</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_campos_de_peso</name>
        <label>Actualiza campos de peso</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>QuieresredondearlaCantidadTrue</targetReference>
        </connector>
        <inputAssignments>
            <field>Bultos__c</field>
            <value>
                <elementReference>calculaBultos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_UM__c</field>
            <value>
                <elementReference>Unidadmedidaventa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_bruto_Kg__c</field>
            <value>
                <elementReference>calculaPesoBruto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_neto_Kg__c</field>
            <value>
                <elementReference>calculaPesoNeto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volumen_m3__c</field>
            <value>
                <elementReference>calculaVolumen</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>RoundUp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualiza_campos_de_peso</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
