force-app/main/default/flows/Actualiza_Datos_Bancarios_Opty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>validarCambios</name>
        <label>validarCambios</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Actualiza_datos_bancarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>guardarOP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERUM_Codigo_SWIFT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.ERUM_Codigo_SWIFT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_Domiciliacion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.ERUM_Domiciliacion__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_Forma_de_pago__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.ERUM_Forma_de_pago__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_IBAN__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.IBAN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_Numero_cuenta__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.ERUM_Numero_de_cuenta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_Terminos_de_pago__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtener_datos_de_cuenta.ERUM_Terminos_de_pago__c</elementReference>
                </rightValue>
            </conditions>
            <label>guardarOP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualiza Datos Bancarios Opty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Datos Bancarios Opty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_datos_de_cuenta</name>
        <label>obtener datos de cuenta</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validarCambios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ERUM_Numero_de_cuenta__c</queriedFields>
        <queriedFields>ERUM_Domiciliacion__c</queriedFields>
        <queriedFields>ERUM_Codigo_SWIFT__c</queriedFields>
        <queriedFields>ERUM_Terminos_de_pago__c</queriedFields>
        <queriedFields>ERUM_Forma_de_pago__c</queriedFields>
        <queriedFields>IBAN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_datos_bancarios</name>
        <label>Actualiza datos bancarios</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>ERUM_Codigo_SWIFT__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.ERUM_Codigo_SWIFT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_Domiciliacion__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.ERUM_Domiciliacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_Forma_de_pago__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.ERUM_Forma_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_IBAN__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.IBAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_Numero_cuenta__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.ERUM_Numero_de_cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_Terminos_de_pago__c</field>
            <value>
                <elementReference>obtener_datos_de_cuenta.ERUM_Terminos_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_datos_de_cuenta</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ERUM_Terminos_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Forma_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_IBAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Numero_cuenta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Domiciliacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Codigo_SWIFT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
