force-app/main/default/flows/Actualiza_Datos_Bancarios_Opty_editar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Actualiza Datos Bancarios Opty_editar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Datos Bancarios Opty_editar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_datos_bancarios</name>
        <label>Actualizar terminos pago</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>actualizarFormapago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERUM_Terminos_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Terminos_de_pago__c</field>
            <value>
                <elementReference>$Record.ERUM_Terminos_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarDomiciliazion</name>
        <label>actualizarDomiciliazion</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>actualizarSwift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERUM_Domiciliacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Domiciliacion__c</field>
            <value>
                <elementReference>$Record.ERUM_Domiciliacion__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarFormapago</name>
        <label>actualizarFormapago</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>actualizarIBAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERUM_Forma_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Forma_de_pago__c</field>
            <value>
                <elementReference>$Record.ERUM_Forma_de_pago__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarIBAN</name>
        <label>actualizarIBAN</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>actualizarNumero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IBAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IBAN__c</field>
            <value>
                <elementReference>$Record.ERUM_IBAN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarNumero</name>
        <label>actualizarNumero</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>actualizarDomiciliazion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERUM_Numero_de_cuenta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Numero_de_cuenta__c</field>
            <value>
                <elementReference>$Record.ERUM_Numero_cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarSwift</name>
        <label>actualizarSwift</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERUM_Codigo_SWIFT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Codigo_SWIFT__c</field>
            <value>
                <elementReference>$Record.ERUM_Codigo_SWIFT__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualiza_datos_bancarios</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ERUM_Terminos_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Forma_de_pago__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_IBAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Numero_cuenta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Domiciliacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERUM_Codigo_SWIFT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
