force-app/main/default/flows/Actualiza_Terminos_y_Metodos_de_Pago.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>validarCambios</name>
        <label>validarCambios</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualiza_campos_Opty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_cambia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERUM_Terminos_de_pago__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>picklistterminos</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ERUM_Forma_de_pago__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>picklistmetodo</elementReference>
                </rightValue>
            </conditions>
            <label>No cambia</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualiza Terminos y Metodos de Pago {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Terminos y Metodos de Pago</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_valores_de_Cuenta</name>
        <label>obtener valores de Cuenta</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validarCambios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>picklistmetodo</assignToReference>
            <field>ERUM_Forma_de_pago__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>picklistterminos</assignToReference>
            <field>ERUM_Terminos_de_pago__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_campos_Opty</name>
        <label>Actualiza campos Opty</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Forma_de_pago__c</field>
            <value>
                <elementReference>picklistmetodo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERUM_Terminos_de_pago__c</field>
            <value>
                <elementReference>picklistterminos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_valores_de_Cuenta</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>picklistmetodo</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>picklistterminos</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
