force-app/main/default/flows/AsociarTarifaACuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Asignamos el nombre correspondiente al record type de Retail correspondiente al objeto Price Book</description>
        <name>RetailRecordType</name>
        <label>Retail Record Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PriceBookRetail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el nombre correspondiente al record type de Seguridad Vial correspondiente al objeto Price Book</description>
        <name>SeguridadVialRecordType</name>
        <label>Seguridad Vial Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PriceBookSeguridadVial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar el tipo de registro de la cuenta</description>
        <name>AccountRecordType</name>
        <label>Account Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailRecordType</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
        <rules>
            <name>SeguridadVial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeguridadVialRecordType</targetReference>
            </connector>
            <label>Seguridad Vial</label>
        </rules>
    </decisions>
    <description>V4: Filtro RecordType Price Book</description>
    <dynamicChoiceSets>
        <name>ChoicePricebook</name>
        <collectionReference>Get_PriceBook</collectionReference>
        <dataType>String</dataType>
        <displayField>Name_IdExternal__c</displayField>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Asociar Tarifa a cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asociar Tarifa a cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_TarifaAsociada</name>
        <label>Create_TarifaAsociada</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SeleccionarTarifa.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceBook__c</field>
            <value>
                <elementReference>SeleccionarTarifa.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>TarifaAsociada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get_PriceBook</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsociarTarifa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la cuenta de la que se desencadena la ejecución del flujo</description>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro correspondiente para el objeto Price Book</description>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AsociarTarifa</name>
        <label>Asociar Tarifa</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_TarifaAsociada</targetReference>
        </connector>
        <fields>
            <name>SeleccionarTarifa</name>
            <choiceReferences>ChoicePricebook</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Seleccione Tarifa:</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Seleccionar una tarifa para asociar a la cuenta</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>PriceBookApiName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>PriceBookRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
