force-app/main/default/flows/AsociarProducto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Asignamos el nombre correspondiente al record type de Retail correspondiente al objeto Price Book</description>
        <name>RetailRecordType</name>
        <label>Retail Record Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductRetail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el nombre correspondiente al record type de Seguridad Vial correspondiente al objeto Price Book</description>
        <name>SeguridadVialRecordType</name>
        <label>Seguridad Vial Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductSeguridadVial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si ya existe la entrada del producto en la lista de precios</description>
        <name>ExistePriceBookEntry</name>
        <label>Existe PriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CompletarProducto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductoExistente</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar el tipo de registro de la lista de precios</description>
        <name>PriceBookRecordType</name>
        <label>PriceBook Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriceBook.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriceBookRetail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailRecordType</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
        <rules>
            <name>SeguridadVial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriceBook.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriceBookSeguridadVial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeguridadVialRecordType</targetReference>
            </connector>
            <label>Seguridad Vial</label>
        </rules>
    </decisions>
    <description>V2: Corrección nodo decisión PriceBook RecordType
V3: Run flow option - System Context Without Sharing</description>
    <dynamicChoiceSets>
        <name>ChoiceProduct</name>
        <collectionReference>GetProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Asociar Producto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asociar Producto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creamos las entradas seleccionadas en la lista de precios</description>
        <name>CreatePriceBookEntry</name>
        <label>Create PriceBook Entry</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>CoonfirmarProducto</targetReference>
        </connector>
        <inputAssignments>
            <field>ERUM_Incluir_coste_contenedor__c</field>
            <value>
                <elementReference>ContainerCostValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SeleccionarProducto.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetPriceBook</name>
        <label>Get PriceBook</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceBookRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookEntry</name>
        <label>GetPriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistePriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeleccionarProducto.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProducts</name>
        <label>Get Products</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsociarProducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro correspondiente para el objeto Price Book</description>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AsociarProducto</name>
        <label>Asociar Producto</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPriceBookEntry</targetReference>
        </connector>
        <fields>
            <name>SeleccionarProducto</name>
            <choiceReferences>ChoiceProduct</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Seleccione Producto:</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Seleccionar una tarifa para asociar a la cuenta</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompletarProducto</name>
        <label>Completar Producto</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreatePriceBookEntry</targetReference>
        </connector>
        <fields>
            <name>InformacionProducto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Información del producto:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompletarProducto_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompletarProducto_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ListPrice</name>
                    <fieldText>&lt;p&gt;List Price:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompletarProducto_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency</name>
                    <dataType>Currency</dataType>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El valor no puede ser menor de 0&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Currency}&gt;0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CompletarProducto_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompletarProducto_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncludeContainerCost</name>
                    <fieldText>&lt;p&gt;Include Container Cost:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompletarProducto_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContainerCostValue</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CoonfirmarProducto</name>
        <label>CoonfirmarProducto</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmacionProducto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;El producto se ha creado correctamente en la lista de precios.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductoExistente</name>
        <label>ProductoExistente</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExisteProducto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;El producto seleccionado ya existe en la lista de precios.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceBook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
