force-app/main/default/flows/OPORTUNIDADActualizarCuentaYCrearPedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Asignamos la información de la oportunidad a la información del pedido</description>
        <name>InformacionPedido</name>
        <label>InformacionPedido</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PedidoAux.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OportunidadID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Contacto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Idioma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Idioma__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Descuento_P_P__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Descuento_P_P__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_IVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_RE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_RE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Impuesto_Pack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Impuesto_Pack__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Nombre_Direccion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Nombre_Direccion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Agencia_de_envio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.Agencia_de_envio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Condiciones_de_entrega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Condiciones_de_entrega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Forma_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Forma_de_pago__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Terminos_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Terminos_de_pago__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Dia_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Dia_de_pago__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_IBAN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Numero_cuenta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Numero_cuenta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Domiciliacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Domiciliacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Codigo_SWIFT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Codigo_SWIFT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Observaciones__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PedidoAux.ERUM_Presupuesto_del_cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOportunidad.ERUM_Presupuesto_del_cliente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos la información del producto de oportunidad iterado a la variable auxiliar ProductoPedidoAux</description>
        <name>InformacionProductoPedido</name>
        <label>InformacionProductoPedido</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.ERUM_Line_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.ERUM_Line_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Grupo_contable_producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Grupo_contable_producto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Grupo_contable_negocio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Grupo_contable_negocio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Grupo_contable_correcto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Grupo_contable_correcto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PedidoAux.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.QuieresRedondearCantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.QuieresRedondearCantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.ERUM_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.ERUM_Impuesto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Importe_con_IVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Importe_con_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Bultos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Bultos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Volumen_m3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Volumen_m3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Peso_bruto_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Peso_bruto_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Peso_neto_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Peso_neto_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.ERUM_UM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.ERUM_UM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux.Importe_D_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateProductosOportunidad.Importe_D_linea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionProductoPedidoAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductoPedidoAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetProductoPedidoAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos los valores de la variable ProductoPedidoAux</description>
        <name>ResetProductoPedidoAux</name>
        <label>ResetProductoPedidoAux</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ProductoPedidoAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterateProductosOportunidad</targetReference>
        </connector>
    </assignments>
    <description>Flujo desencadenado automáticamente para actualizar el tipo de registro de Cuenta y crear el registro de tipo pedido con la información de la oportunidad ganada.
--
V2: Corrección RecordTypeID Account</description>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - Actualizar Cuenta y Crear Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Actualizar Cuenta y Crear Pedido</label>
    <loops>
        <description>Iteramos los productos de la oportunidad</description>
        <name>IterateProductosOportunidad</name>
        <label>IterateProductosOportunidad</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>GetProductosOportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InformacionProductoPedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProductosPedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creación pedido con información de la oportunidad</description>
        <name>CreatePedido</name>
        <label>CreatePedido</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>IterateProductosOportunidad</targetReference>
        </connector>
        <inputReference>PedidoAux</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creamos los registros de Producto de Pedido correspondientes a la colección creada</description>
        <name>CreateProductosPedido</name>
        <label>CreateProductosPedido</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>ColeccionProductoPedidoAux</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos la oportunidad actualizada</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductosOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los productos de la oportunidad</description>
        <name>GetProductosOportunidad</name>
        <label>GetProductosOportunidad</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el Record Type de Presupuesto del objeto Cuenta</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERUM_Cliente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCuenta</name>
        <label>UpdateCuenta</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>InformacionPedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERUM_Estado__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo texto para almacenar el AccountID de la oportunidad</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de tipo colección para almacenar los productos de pedido a crear</description>
        <name>ColeccionProductoPedidoAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Variable de tipo texto para almacenar el ID de la oportunidad que se pasa por parámetro</description>
        <name>OportunidadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar la información del pedido a crear</description>
        <name>PedidoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar la información del producto de pedido a crear</description>
        <name>ProductoPedidoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
