force-app/main/default/flows/Producto_oportunidad_Actualizar_y_validar_grupo_contable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>relacionProducto</name>
        <label>relacionProducto</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>validarRelacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>siExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validarRelacion.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>idGrupoOpp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grupoOK</targetReference>
            </connector>
            <label>siExiste</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>idGrupoOpp</name>
        <dataType>String</dataType>
        <expression>text({!$Record.Grupo_contable_negocio__c})&amp;&quot;-&quot;&amp;text({!$Record.Grupo_contable_producto__c})</expression>
    </formulas>
    <interviewLabel>Producto oportunidad_Actualizar y validar grupo contable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producto oportunidad_Actualizar y validar grupo contable</label>
    <loops>
        <name>validarRelacion</name>
        <label>validarRelacion</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>get_config_grupos_contables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>relacionProducto</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_config_grupos_contables</name>
        <label>get.config grupos contables</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validarRelacion</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Grupo_contable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actgrupoContable</name>
        <label>act.grupoContable</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>get_config_grupos_contables</targetReference>
        </connector>
        <inputAssignments>
            <field>Grupo_contable_negocio__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account.Grupo_contable_negocio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grupo_contable_producto__c</field>
            <value>
                <elementReference>$Record.PricebookEntry.Product2.ERUM_Grupo_contable_producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>grupoOK</name>
        <label>grupoOK</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>validarRelacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Grupo_contable_correcto__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>actgrupoContable</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
