force-app/main/default/flows/TarifaAsociada_IncluirTarifasAsociadasACuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Asignar el Id External a la variable auxiliar para incluir en la cuenta relacionada.</description>
        <name>Assign_IdExternal</name>
        <label>Assign_Id External</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_TarifasIncluidas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_IncluirTarifa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_TarifasAsociadas</targetReference>
        </connector>
    </assignments>
    <description>Subflujo que se lanza para añadir las tarifas asociadas a la cuenta relacionada.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula que se usa para añadir la Tarifa actual en el bucle a la variable auxiliar.</description>
        <name>For_IncluirTarifa</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Var_TarifasIncluidas}), &quot;`&quot;, {!Var_TarifasIncluidas} &amp; &quot;;`&quot; ) &amp; {!Iterar_TarifasAsociadas.PriceBook__r.ERUM_PB_Id_External__c} &amp; &quot;´&quot;</expression>
    </formulas>
    <interviewLabel>TarifaAsociada_Incluir Tarifas Asociadas a Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TarifaAsociada_Incluir Tarifas Asociadas a Cuenta</label>
    <loops>
        <description>Iterar las tarifas asociadas a la cuenta para obtener</description>
        <name>Iterar_TarifasAsociadas</name>
        <label>Loop_Tarifas Asociadas</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_TarifasAsociadasCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IdExternal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cuenta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener las tarifas asociadas a la cuenta relacionada.</description>
        <name>Get_TarifasAsociadasCuenta</name>
        <label>Get_Tarifas Asociadas a la Cuenta</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_TarifasAsociadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_TarifaAscoiada.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Var_IdTarifaAsociadaEliminada</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TarifaAsociada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar la cuenta relacionada añadiendo las tarifa a tarifas incluidas.</description>
        <name>Update_Cuenta</name>
        <label>Update_Cuenta</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_TarifaAscoiada.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TarifasIncluidas__c</field>
            <value>
                <elementReference>Var_TarifasIncluidas</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TarifasAsociadasCuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable que contiene el Id de la tarifa asociada eliminada.</description>
        <name>Var_IdTarifaAsociadaEliminada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que contiene las tarifas incluidas en la cuenta relacionada.</description>
        <name>Var_TarifasIncluidas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el registro de la tarifa asociada.</description>
        <name>VarIn_TarifaAscoiada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TarifaAsociada__c</objectType>
    </variables>
</Flow>
